name: 'Terraform GitHub Actions for services/bastion'
on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - master
    paths:
      - ".github/workflows/test.yaml"
      - "lexer/**.go"
jobs:
  terraform:
    name: 'terraform'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    strategy:
      matrix:
        workdir: [lexer, token]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Terraform Plan
        id: plan
        if: github.event.action == 'opened' || github.event.action == 'synchronize'
        run: echo "terraform plan"
        working-directory: ${{ matrix.workdir }}

      - uses: actions/github-script@v6
        # if: github.event.action == 'closed' && github.event.pull_request.merged == true
        env:
          PLAN: "terraform\n${{ steps.plan.outputs.stdout }}"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `#### Terraform Format and Style \`${{ steps.fmt.outcome }}\`
            #### Terraform Initialization \`${{ steps.init.outcome }}\`
            #### Terraform Validation \`${{ steps.validate.outcome }}\`
            <details><summary>Validation Output</summary>

            \`\`\`\n
            ${{ steps.validate.outputs.stdout }}
            \`\`\`\

            </details>

            #### Terraform Plan \`${{ steps.plan.outcome }}\`

            <details><summary>Show Plan</summary>

            \`\`\`\n
            ${process.env.PLAN}
            \`\`\`

            </details>

            *Pusher: @${{ github.actor }}, Action: \`${{ github.event_name }}\`, Working Directory: \`${{ env.tf_actions_working_dir }}\`, Workflow: \`${{ github.workflow }}\`*`;

            # github.rest.issues.createCommnet({
            #   issue_number: context.issue.number,
            #   owner: context.repo.owner,
            #   repo: context.repo.repo,
            #   body: output
            # })

      - name: Terraform Apply
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        run: echo "terraform apply"
