name: 'Terraform GitHub Actions for services/bastion'
on:
  pull_request:
    types: [closed]
    # types: [opened, synchronize, closed]
    branches:
      - master
jobs:
  terraform:
    name: 'terraform'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    strategy:
      matrix:
        workdir: [lexer, token]
    steps:
      - name: Checkout
        uses: actions/checkout@v2